{% extends "layout.html" %}


{% block title %}home{% endblock %}



{% block body %}

<header>
  <div class="container">
    <img src="static/logo.png" alt="stonks" class="logo">

    <nav>
      <ul>
        <li> <a href="{{ url_for('index') }}">Home</a> </li>
        <li> <a href="{{ url_for('reddit') }}">Reddit Stocks</a> </li>
        <li> <a href="{{ url_for('resources') }}">Investment Resources</a> </li>
        <li> <a href="{{ url_for('contact') }}">Contact Me</a> </li>
      </ul>
    </nav>
  </div>
</header>

<h1>STOCK MARKET NEWS</h1>
<p style="text-align:center">Updated Daily</p>



<div class="container" id="news">
<div class="row">
  {% for mw_headlines, mw_sums in mw_card %}
  <div class="col-sm" style="padding-bottom: 10px;">
    <div class="card" style="width: 18rem; height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">{{ mw_headlines|safe }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">MarketWatch</h6>
        <p class="card-text">{{ mw_sums|safe }}</p>
      </div>
    </div>
  </div>
  {% endfor %}

  {% for item in ms_card %}
  <div class="col-sm" style="padding-bottom: 10px;">
    <div class="card" style="width: 18rem; height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">{{ item|safe }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Morningstar</h6>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


</div>


<!-- <div class="container">
  {% for item in mw %}
  <h3>{{ item|safe }}</h3>
  {% endfor %}
</div> -->



{% endblock %}
