{% extends "layout.html" %}


{% block title %}home{% endblock %}



{% block body %}

<header>
  <div class="container">
    <img src="static/logo.png" alt="stonks" class="logo">

    <nav>
      <ul>
        <li> <a href="{{ url_for('index') }}">Home</a> </li>
        <li> <a href="{{ url_for('reddit') }}">Reddit Stocks</a> </li>
        <li> <a href="{{ url_for('resources') }}">Investment Resources</a> </li>
        <li> <a href="#">Contact Me</a> </li>
      </ul>
    </nav>
  </div>
</header>



<div class="container">

<!-- <div style="padding-bottom: 50px; padding-top: 25px">
  <table id="mentions">
    <caption>What's trending on Reddit? Check out the top 10 mentions on r/wallstreetbets, r/stocks, r/investing, r/options, and r/thecorporation!</caption>
    <tr>
      <th>Ticker</th>
      <th>Mentions</th>
    </tr>
 {% for item in mentions %}
    <tr>
      <td>{{ item[0] }}</td>
      <td>{{ item[1] }}</td>
    </tr>
    {% endfor %}
  </table>
</div> -->

<h3 style="padding-bottom: 25px"> <u>Trending Reddit Posts</u> </h3>


  <h4> <b>r/wallstreetbets</b> </h4>

  {% for key, value in posts %}
    {% if key == 'wallstreetbets' %}
    {% for item in value %}


    <p><a href="{{ item[3] }}">{{ item[0] }}</a></p>

    {% endfor %}
    {% endif %}
  {% endfor %}

  <h4> <b>r/stocks</b> </h4>

  {% for key, value in posts %}
    {% if key == 'stocks' %}
    {% for item in value %}


    <p><a href="{{ item[3] }}">{{ item[0] }}</a></p>

    {% endfor %}
    {% endif %}
  {% endfor %}

  <h4> <b>r/investing</b> </h4>

  {% for key, value in posts %}
    {% if key == 'investing' %}
    {% for item in value %}


    <p><a href="{{ item[3] }}">{{ item[0] }}</a></p>

    {% endfor %}
    {% endif %}
  {% endfor %}

  <h4> <b>r/options</b> </h4>

  {% for key, value in posts %}
    {% if key == 'options' %}
    {% for item in value %}


    <p><a href="{{ item[3] }}">{{ item[0] }}</a></p>

    {% endfor %}
    {% endif %}
  {% endfor %}

  <h4> <b>r/thecorporation</b> </h4>

  {% for key, value in posts %}
    {% if key == 'thecorporation' %}
    {% for item in value %}


    <p><a href="{{ item[3] }}">{{ item[0] }}</a></p>

    {% endfor %}
    {% endif %}
  {% endfor %}

</div>



{% endblock %}
